.container{
    max-width: 1200px;
}


.nav-item{
    padding: 0px 25px;
    
}
.nav-link{
    font-size: 24px;
    width: 700;
    color: white;
}

.mynavbar{
    overflow: hidden;
    position: absolute;
    background-color: transparent
    }

    .nav-link:hover{

        color: #0089C2;
    }

    .h2-title{
        position: absolute;top: 305px; left: 160px;
        font-size: 50px;
        font-weight: 700;
        text-align: center ;
        color: white;
    }
     .p-off{
        color: white;
        position: absolute;top: 200px; left: 234px;
        font-size: 24px;
        font-weight: 400;
        background-color: #1E1D22;
        padding: 10px 10px;
        border-radius: 15px;
        
     }
   
     .p-off-color{
        
        color: #0089C2;
     
     }

     .p-subtitle{
        font-size: 16px;
        font-weight: 400;
        position: absolute;top: 540px; left: 154px;
        color: white;
        line-height: 24px;
     }

     .h6-title{
        font-size: 14px;
        font-weight: 400;
        color: white;
        position: absolute;top: 595px; left: 154px;
     }

     .h3-title{
        font-size: 25px;
        font-weight: 600;
        color: white;
        position: absolute;top: 620px; left: 154px;
     }

     .btn-banner{
        position: absolute;top: 685px; left: 149px;
        background-color: #BC2B34;
        color: white;
        padding: 10px 20px;
        border-radius: 15px;
        font-size: 20px;
     }

     .bannaer-title{

        text-align: center;
     }

     .img-customer{
        width: 50%;
  height: 50%;
     }

     .img-features{
        width: 100%;
        height: auto;
     }
    
      h1{
        text-align: center;
        color: #1E1D22;
        margin-top: 30px;
        padding-top: 30px;
      }

      .h1-feature{
        font-size: 24px;
        font-weight: 900;
        color: black;
        padding-top: 10px;
      }
     
      .p-feature{
        font-size: 18px;
        font-weight: 400;
        color: #74818E;
        padding-top: 10px;
        
      }
      .img-features{
        margin-left: -85px;
        margin-top: 30px;
      }
      .icon-features{

      }




     
      

    
